#body-wrapper{
    background-color: #083b4c;
}

.box{
    height: 100px;
    width: 100px;
    margin: 0.5em;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}
